body {
  background-color: white;
}

.container {
  display:flex;
  justify-content:center;
  align-items: center;
  padding-top:10vh;

  .newTeamInput {

    margin-bottom:10px;

    input {
      padding:5px;
      border-radius:5px;
      border:2px solid #bdbdbd;
    }

    [type="submit"] {
      margin-left:5px;
      padding:5px 25px;
    }

  }

  
}

.teamTable table {
  border:solid 3px;
  border-color:blue;
  text-align:center;
  border-collapse: collapse;
  font-size:14px;
  

  td,th {
    padding:5px 15px;
    border:solid 2px #D4D4D4;
  }

  th {
    background-color:#E5E5E5;
  }
}


.matchHistory {
    margin-left:20px;

  input {
    width:15px;
    margin:2px;
    -moz-appearance: textfield; 
    appearance: textfield; 
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

  input:first-child{
    text-align:right;
  }

  :disabled {
    border-style:none;
    background-color: transparent ;
  }

  td:first-child, td:nth-child(2) { text-align:right; };
  td:nth-child(4) input {text-align:left}
}

.scoreboard {
  display:flex;
}


